@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  font-family: 'Lato', sans-serif;
}
h1{
  padding-top: 40px;
}
h2{
  padding-top: 40px;
}
h3{
  padding-top: 40px;
}
h4{
  padding-top: 40px;
}
h5{
  padding-top: 40px;
}
