@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');
.footer{
    background-color: #d85a41;
    color:#fff;
    padding: 3em;
    text-align: center;
}

.social_list{
    display:flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin:0 1em;
}

.social_list li:hover{
    color:#2a6583
}

.social_list svg{
    font-size: 1.5em;
    cursor:pointer;
}

.copy_right{
    margin-top:1em;
}
.copy_right span{
    font-family: 'Alegreya', serif;
    font-weight:bold;
}

.img{
    width:50px;
    padding-right:5px;
}